@page
@model IndexModel
@{
    ViewData["code"] = "SYS";
    var mn = menuSettings.MenuList.Where(t => t.code == "SYS").FirstOrDefault();
    ViewData["Title"] = mn != null ? mn.description : "";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
