@inject SelfBalancingRobot.WebUI.Configuration.AppSettings settings
<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="copyright text-right">
                    <span>Copyright &copy; 2023 - <b>Self-BalancingRobot .NET v@(settings.Version)</b> by <b>Anwar Minarso</b></span>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->